1. What are data structures, and why are they important?
-  Data structures are the way of organizing and storing the data so that it can be accessed and manipulated efficiently.

2.  Explain the difference between mutable and immutable data types with examples?
-  Mutable data types are those in which we can do changes after creation like adding element or removing, e.g. list, sets, dictionary.
-  Immutable data types are those in which we can not do changes in the values, e.g. tuple, string.

3. What are the main differences between lists and tuples in Python?
-  In list, we can do changes in the values after creation as they are mutable while tuples are immutable so we cannot do changes in the values of tuples.
-  For list, we use square brackets[] while for tuples, we use parenthesis().
-  tuples use less memory and are faster to access than the lists.

4. Describe how dictionaries store data.
-  Dictionaries store data in form of key:value pairs.
-  As of python version 3.7, dictionary stores data in ordered sequence and do not allow any duplicates.

5.  Why might you use a set instead of a list in Python?
-  we use set over list because set stores only unique elements.
-  Sets provide built in function for mathematical set operations like union, intersection, difference and symmetric difference.

6. What is a string in Python, and how is it different from a list?
A string is a sequence of characters between single or double quotes while a list is a sequence of items where each item could anything like a float, an integer, a string etc.

7. How do tuples ensure data integrity in Python?
- Tuples ensure data integrity through their immutability. As they are immutable, their values can not be changed after tuple is created so, protection against any accidental modification.
-  The immutability of tuples make them hashable, a requirement for use as keys in dictionary and elemets in sets.

8. What is a hash table, and how does it relate to dictionaries in Python?
-  A hash table is a collection of associated pairs of items where each pair consists of a key and a value.
-  In python, the dictionary data types represent the implementation of hash tables. The keys in the dictionary are hashable - they are generated by a hash function which generates a unique result for each unique value supplied to the hash function.

9. Can lists contain different data types in Python?
-  Yes, lists in python are very flrxiblewhich means they can store various data types such as numeric type (float, int), text (string), booleanvalues etc.

10. Explain why strings are immutable in Python?
-  Strings are immutable in python to maintain the security and safety of sensitive data such as password or file path.
-  It also makes code more predictable as we can rely on a string's value not changing unexpectedly.

11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionary offer fast data retrieval unlike list where we have to traverse through each element to find a value, dictionaries use hash tables for quick access to value based on keys.

12. Describe a scenario where using a tuple would be preferable over a list.
-  Tuples are used when we need to store, retrieve, and use data often but don't need to change it.

13. How do sets handle duplicate values in Python?
-  Sets stores only unique values. When there is any duplicate values in sets, it automatically discards that value, and only one instance of each unique element is kept.

14. How does the “in” keyword work differently for lists and dictionaries?
-  The 'in' operator uses different algorithms for lists and dictionaries.
-  For lists, it uses a search algorithm. As the list gets longer , the search time get longer in direct proportion.
-  For dictionaries, python uses an slgorithm called hashable that has a remarkable property; the 'in' operator takes about the same amount of time no matter how many items there are in a dictionary.

15. Can you modify the elements of a tuple? Explain why or why not?
-  No, we cannot directly modify the elements of a tuple in python. Tuples are immutable, meaning their contents cannot be changed after creation.

16. What is a nested dictionary, and give an example of its use case?
-  A nested dictionary is a dictionary where at least one of the values is itself a dictionary. It's a way to represent hierarchical or structured data within a dictionary structure.
-  Usecase: This is useful for organizing data where you have multiple levels of information. For example, employee records (name, department, salary, address, etc.)

17. Describe the time complexity of accessing elements in a dictionary?
-  Accessing elements in a dictionary typically has a time complexity of O(1) on average, which means it takes constant time regardless of the dictionary's size.

18. In what situations are lists preferred over dictionaries?
-  Lists are preffered over dictionaries when the order of the elements is important, when you need to frequently insert or delete elements, or when you are dealing with the sequence of items that don't have inherent key-value relationships.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
-  Dictionary is termed as an unordered collection of object because the printed order of elements is not same as the order in which the elements are stored.
-  Dictionaries are  optimized to retrieve data or values only when the key is known.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
-  In lists, data or elements can be retrieved by their index number while in dictionaries, the elements or data can be accessed using keys.

In [1]:
#Write a code to create a string with your name and print it
name = 'Himanshi'
print(name)

Himanshi

In [2]:
#Write a code to find the length of the string "Hello World"
string = 'Hello World'
print(len(string))

11

In [3]:
# Write a code to slice the first 3 characters from the string "Python Programming"
string = 'Python Programming'
print(string[:3])

Pyt

In [4]:
# Write a code to convert the string "hello" to uppercase
string = 'hello'
print(string.upper())

HELLO

In [5]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"
string = 'I like apple'
print(string.replace('apple', 'orange'))

I like orange

In [6]:
#Write a code to create a list with numbers 1 to 5 and print it
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [7]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [8]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [9]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [10]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10, 20, 30, 40, 50]
print(list[::-1])

[50, 40, 30, 20, 10]

In [11]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

In [12]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple = ('red', 'green', 'blue', 'yellow')
print(tuple[-2])

blue

In [13]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple = (10, 20, 5, 15)
print(min(tuple))

5

In [14]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tuple = ('dog', 'cat', 'rabbit')
print(tuple.index('cat'))

1

In [15]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple = ('apple', 'banana', 'orange')
print('kiwi' in tuple)

False

In [16]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set = {'a', 'b', 'c'}
print(set)

{'a', 'b', 'c'}

In [17]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set = {1, 2, 3, 4, 5}
set.clear()
print(set)

set()

In [18]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set = {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

In [19]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
{1, 2, 3,} | {3, 4, 5}

{1, 2, 3, 4, 5}

In [20]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

{1, 2, 3} & {2, 3, 4}

{2, 3}

In [21]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict = {'name': 'Himanshi', 'age': 21, 'city': 'Vrindavan'}
print(dict)

{'name': 'Himanshi', 'age': 21, 'city': 'Vrindavan'}

In [22]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict = {'name': 'John', 'age': 25}
dict['country'] = 'USA'
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict = {'name': 'Alice', 'age': 30}
print(dict['name'])

Alice

In [24]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict['age']
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [25]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict = {'name': 'Alice', 'city': 'Paris'}
print('city' in dict)

True

In [26]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1,2,3,4]
tuple = (1,2,3,4)
dict = {'name': 'Himanshi', 'age': 21, 'city': 'Vrindavan'}
print(list)
print(tuple)
print(dict)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Himanshi', 'age': 21, 'city': 'Vrindavan'}

In [27]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
list = [random.randint(1,100) for i in range(5)]
list.sort()
print(list)

[4, 19, 24, 32, 98]

In [28]:
# Write a code to create a list with strings and print the element at the third index.
list = ['apple', 'banana', 'orange', 'kiwi', 'mango']
print(list[3])

kiwi

In [29]:
# Write a code to combine two dictionaries into one and print the result.
dict1 = {'name': 'Himanshi', 'age': 21}
dict2 = {'city': 'Vrindavan', 'country': 'India'}
dict1.update(dict2)
print(dict1)

{'name': 'Himanshi', 'age': 21, 'city': 'Vrindavan', 'country': 'India'}

In [1]:
#Write a code to convert a list of strings into a set.
my_list = ['apple', 'banana', 'orange', 'kiwi', 'mango']
my_set = set(my_list)
print(my_set)

{'kiwi', 'apple', 'banana', 'mango', 'orange'}